<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="m-auto row flex-nowrap justify-content-between align-items-center w-75">
      <div class="col-4 pt-1">
        <a class="navbar-brand" href="#">Shopping-Recipe</a>
      </div>
      <div class="col-8 pt-1 row flex-nowrap justify-content-between align-items-center" id="navbarSupportedContent">
        <ul class="navbar navbar-nav col-6 justify-content-around">
          <li>
           <ul class="navbar navbar-nav justify-content-start">
              <li class="nav-item active">
                <a class="nav-link" href="#">Recipe <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shopping List</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="navbar navbar-nav col-6 justify-content-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>
