<div class="container mt-5">
  <!--cockpit-->
  <app-cockpit
    (serverCreated)="onServerAdd($event)"
    (bpCreated)="onBlueprintAdd($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
<!--      server item -->
<!--        [serverElement]="element"  component binding with alias see server-element.component.ts -->
      <app-server-element
        *ngFor="let element of serverElements"
        [element]="element"
      ></app-server-element>
    </div>
  </div>
</div>
