<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Recipe Name</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="navbar navbar-nav col-6 justify-content-end btn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-info text-white px-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Recipes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Recipe Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Recipe Ingredients
  </div>
</div>
